*
  box-sizing: border-box
body
  +reg
  color: $color-text
img
  max-width: 100%
.container
  max-width: 1170px
  margin: auto
.button
  background-color: $main-color
  border: none
  padding: 17px 30px 18px 30px
  border-radius: 10px
  font-size: 13px
  +bold
  color: $color-text
  outline: none
  &:hover
    cursor: pointer
    background-color: lighten($main-color, 20%)
.input
  border-radius: 10px
  border: 1px solid $input-border
  color: $input-text
  +reg
  font-size: 15px
  line-height: 24px
  padding: 20px 23px 20px 23px
  &:focus
    border: 1px solid $main-color
    outline: none
.bold
  +bold
#scrollbutton
  font-size: 38px
  padding: 10px 10px 10px 10px
  position: fixed
  right: 10px
  bottom: 10px
  display: none
