@media (max-width: 1200px)
  .container
    max-width: 980px
  .slider__img
    margin: auto
  .portfolio-contain
    padding: 0
  .hero-block
    align-items: center
  .input
    padding: 20px 0 20px 23px
  .call-desc
    flex-wrap: wrap
    & span:last-child
      flex-basis: 100%
      margin-top: 0
      strong
        display: inline
    &__text
      flex-basis: 100%
  .form-call
    input
      margin-bottom: 10px
      flex-basis: 49%
  .cards
    justify-content: space-around
@media (max-width: 992px)
  .container
    max-width: 760px  
  .hero-block
    flex-direction: column
  .call
    padding: 23px 48px 42px 0
  .form-call
    input
      // margin-bottom: 10px
      flex-basis: 100%
@media (max-width: 768px)
  .container
    max-width: 540px
  .navbar
    &-contacts
      display: none
    &__logo
      width: 91px
      display: flex
      align-items: center
    &__button
      font-size: 10px
      padding: 15px 26px
      margin-left: 0
  .call
    width: 100%
    &:after
      display: none
  .cards
    justify-content: center
@media (max-width: 567px)
  .container
    max-width: 410px
  .dialog-form
    padding: 34px 50px 34px 49px
    max-width: 410px
    &__title
      font-size: 18px
      margin-bottom: 6px
    &__subtitle
      margin-bottom: 22px
      font-size: 14px
      line-height: 22px
    & input
      padding: 10px 0 10px 23px
    & input:last-of-type
      margin-bottom: 16px
    &__button
      font-size: 14px
      padding: 16px 0
      margin-bottom: 19px
    &__text
      font-size: 12px
    &__phone
      font-size: 21px

@media (max-width: 420px)
  .container
    max-width: 277px
  
  .navbar
    &__button
      padding: 14px 26px
      border-radius: 5px
  .hero
    &-block
      padding-top: 40px
    &-text
      &__title
        font-size: 22px
        line-height: 27px
        margin-bottom: 8px
        margin-left: 5px
      &__subtitle
        font-size: 16px
        line-height: 20px
        margin-left: 6px
    &-list
      margin-top: 4px
      &__img
        width: 40px
        height: 40px
      &__text
        font-size: 12px
        line-height: 16px
        margin-left: 15px
        max-width: 210px
        margin-top: 3px
      &__item
        margin-top: 21px
        margin-left: 2px
    &-img
      margin-top: 20px
      margin-bottom: 14px
  .call
    padding: 49px 0px 51px 0
    &__title
      font-size: 18px
      line-height: 22px
    &__text
      font-size: 14px
      margin: 17px -2px 28px 0
    &__button
      font-size: 14px
      line-height: 18px
      padding: 16px 38px 18px 38px
      border-radius: 10px
      margin-left: 1px
      margin-right: 1px
      letter-spacing: -0.2px
    &-desc
      & span:last-child 
        margin-top: 7px
        & strong
          display: inline-block
      &__text
      margin-left: 6px
      margin-top: -5px
  .form-call
    input
      padding: 18px 0 19px 23px
  .dialog-form
    width: 277px
    &__title
      font-size: 13px
      line-height: 24px
    &__subtitle
      font-size: 11px
      line-height: 16px         
    &__phone
      font-size: 18px

  .portfolio
    padding: 42px 0 97px 0
    &__title
      font-size: 18px
      line-height: 21.6px
      margin-bottom: 40px
  .slider__img
      width: 246px
  .arrows
    margin-top: 46px
  .cards
    justify-content: center
