@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: local("../fonts/MuseoSansCyrl/MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: local("../fonts/MuseoSansCyrl/MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Cyrl 300';
  font-weight: 300;
  color: #333333;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #333333;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.button {
  background-color: #ffd200;
  border: none;
  padding: 17px 30px 18px 30px;
  border-radius: 10px;
  font-size: 13px;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  color: #333333;
  outline: none;
}

.button:hover {
  cursor: pointer;
  background-color: #ffe466;
}

.input {
  border-radius: 10px;
  border: 1px solid #dddddd;
  color: #999999;
  font-family: 'Museo Sans Cyrl 300';
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  padding: 20px 23px 20px 23px;
}

.input:focus {
  border: 1px solid #ffd200;
  outline: none;
}

.bold {
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
}

#scrollbutton {
  font-size: 38px;
  padding: 10px 10px 10px 10px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
}

.span-block {
  display: block;
}

.section-title {
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  margin: auto;
  text-align: center;
  letter-spacing: -0.5px;
  color: #000000;
}

.section-subtitle {
  font-size: 20px;
  line-height: 45px;
  margin: auto;
  text-align: center;
  letter-spacing: -0.1px;
  color: #000000;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
}

.navbar-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.navbar__adress {
  font-size: 13px;
  margin-bottom: 6px;
}

.navbar__phone {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  color: #333333;
}

.navbar__button {
  margin-left: 30px;
  margin-top: -2px;
}

.hero {
  background-color: #f5f5f5;
  margin: 0 0 0 0;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 47px;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-text__title {
  color: #333333;
  font-size: 41px;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  line-height: 55px;
  margin-left: -3px;
  margin-bottom: 16px;
}

.hero-text__subtitle {
  font-size: 20px;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  line-height: 65px;
}

.hero-list {
  list-style-type: none;
  padding: 0;
  margin-top: 22px;
  margin-bottom: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.hero-list__item-pp {
  margin-top: 22px;
}

.hero-list__text {
  font-size: 14px;
  line-height: 24px;
  max-width: 261px;
  margin-left: 30px;
  margin-top: -1px;
}

.hero-img {
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

.hero-img img {
  margin-top: -2px;
}

.getform {
  margin: 0 0 0 0;
}

.call {
  width: 50%;
  position: relative;
  padding: 76px 90px 87px 0;
}

.call__title {
  font-size: 24px;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  line-height: 35px;
  max-width: 365px;
  margin: 0px 0 0 0;
}

.call__text {
  display: inline-block;
  font-family: 'Museo Sans Cyrl 300';
  font-weight: 300;
  font-size: 16px;
  max-width: 235px;
  margin: 20px -2px 31px 0;
}

.call-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.call-desc span:last-child {
  -ms-flex-preferred-size: 40.5%;
      flex-basis: 40.5%;
  letter-spacing: -0.5px;
}

.call-desc__text {
  display: inline-block;
  margin-top: 26px;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  line-height: 24px;
  margin-left: -3px;
  letter-spacing: -0.4px;
}

.call-desc__text strong {
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  display: inline-block;
}

.form-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-call__input {
  margin-bottom: 29px;
  -ms-flex-preferred-size: 48.5%;
      flex-basis: 48.5%;
}

.call__button {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 16px;
  padding: 25px 27px 27px 27px;
  margin-left: -1px;
  letter-spacing: -0.2px;
}

.call__button__phone {
  padding: 20px 58px 20px 30px;
}

.call:after {
  content: url("../img/call_img.jpg");
  display: block;
  height: 100%;
  width: 49.5vw;
  position: absolute;
  left: 100%;
  top: 0%;
  overflow: hidden;
}

.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-bg.jpg") repeat-y center left;
  background-size: 50%;
  padding: 90px 0 97px 0;
}

.portfolio-contain {
  max-width: 1230px;
  padding-left: 30px;
}

.portfolio__title {
  margin-bottom: 90px;
  margin-bottom: 92px;
}

.arrows {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 118px;
  margin-top: 68px;
}

@-webkit-keyframes scaleOnOff {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleOnOff {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.animScale {
  -webkit-animation: scaleOnOff 5s ease infinite;
          animation: scaleOnOff 5s ease infinite;
}

.price {
  padding: 90px 0;
}

.price__title {
  margin-bottom: 37px;
}

.price__subtitle {
  margin-bottom: 48px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  position: relative;
}

.card:after {
  position: absolute;
  content: '';
  display: none;
  width: 100%;
  height: 63.5%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.8;
  top: 0;
  left: 0;
}

.card:hover {
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover:after {
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card_space {
  margin-bottom: 29px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__text {
  padding: 20px 0 45px 0;
}

.card__title {
  font-size: 18px;
  line-height: 45px;
  margin: 0px 0 17px 4px;
  letter-spacing: -0.3px;
}

.card__link {
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.4px;
  position: relative;
}

.card__link:hover:after {
  height: 13px;
}

.card__link:after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  display: block;
  position: absolute;
  margin: auto;
  bottom: -5px;
  left: 0;
  z-index: -1;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  margin: auto;
  background-color: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
}

.dialog-desc {
  -ms-flex-preferred-size: 51.3%;
      flex-basis: 51.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f7f7f7;
  padding: 80px 97px 75px 78px;
  color: #000000;
}

.dialog-desc__img {
  width: 120px;
  height: 85px;
  margin-left: 1px;
  margin-right: 28px;
}

.dialog-desc-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.dialog-desc-card:nth-child(3) {
  margin-bottom: 52px;
}

.dialog-desc-card_top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.dialog-desc-card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dialog-desc-card__title {
  margin: 0;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  letter-spacing: -0.5px;
  position: relative;
  margin-bottom: 20px;
}

.dialog-desc-card__title:after {
  content: '';
  width: 42px;
  height: 2px;
  position: absolute;
  bottom: -10px;
  left: 0;
  background-color: #ffd200;
}

.dialog-desc-card__text {
  margin-bottom: 2px;
}

.dialog-desc-card__text strong {
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
}

.dialog-desc-text {
  font-size: 14px;
}

.dialog-desc-text__title {
  font-size: 14px;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  margin: 0;
}

.dialog-desc-text__list {
  margin-top: 25px;
  padding-left: 22px;
  list-style: none;
}

.dialog-desc-text__item {
  position: relative;
  margin-bottom: 9px;
  letter-spacing: -0.05px;
}

.dialog-desc-text__item:after {
  content: url("../img/modal/listitem.png");
  position: absolute;
  left: -22px;
  top: 0;
}

.dialog-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 74px 100px 76px 99px;
  text-align: center;
}

.dialog-form input:last-of-type {
  margin-bottom: 26px;
}

.dialog-form__title {
  max-width: 340px;
  margin: 0 auto;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  line-height: 33px;
  font-size: 22px;
  margin-bottom: 36px;
}

.dialog-form__subtitle {
  margin: 0;
  margin-bottom: 42px;
  line-height: 35px;
}

.dialog-form__input {
  margin-bottom: 15px;
}

.dialog-form__button {
  font-size: 16px;
  padding: 26px 0;
  margin-left: 3.5px;
  margin-bottom: 29px;
}

.dialog-form__text {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
  max-width: 300px;
}

.dialog-form__phone {
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.modal-success {
  margin: auto;
  width: 670px;
  height: 200px;
  background-color: #ffffff;
  position: relative;
  text-align: center;
  padding: 74px 150px;
  line-height: 1.8;
}

.navigation {
  text-align: right;
}

@media (max-width: 1200px) {
  .container {
    max-width: 980px;
  }
  .slider__img {
    margin: auto;
  }
  .portfolio-contain {
    padding: 0;
  }
  .hero-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .input {
    padding: 20px 0 20px 23px;
  }
  .call-desc {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .call-desc span:last-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 0;
  }
  .call-desc span:last-child strong {
    display: inline;
  }
  .call-desc__text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .form-call input {
    margin-bottom: 10px;
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 760px;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .call {
    padding: 23px 48px 42px 0;
  }
  .form-call input {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .navbar-contacts {
    display: none;
  }
  .navbar__logo {
    width: 91px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar__button {
    font-size: 10px;
    padding: 15px 26px;
    margin-left: 0;
  }
  .call {
    width: 100%;
  }
  .call:after {
    display: none;
  }
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 410px;
  }
  .navbar__button {
    padding: 14px 26px;
    border-radius: 5px;
  }
  .hero-block {
    padding-top: 40px;
  }
  .hero-text__title {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 8px;
    margin-left: 5px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-left: 6px;
  }
  .hero-list {
    margin-top: 4px;
  }
  .hero-list__img {
    width: 40px;
    height: 40px;
  }
  .hero-list__text {
    font-size: 12px;
    line-height: 16px;
    margin-left: 15px;
    max-width: 210px;
    margin-top: 3px;
  }
  .hero-list__item {
    margin-top: 21px;
    margin-left: 2px;
  }
  .hero-img {
    margin-top: 20px;
    margin-bottom: 14px;
  }
  .dialog-form {
    padding: 34px 50px 34px 49px;
    max-width: 410px;
  }
  .dialog-form__title {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .dialog-form__subtitle {
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 22px;
  }
  .dialog-form input {
    padding: 10px 0 10px 23px;
  }
  .dialog-form input:last-of-type {
    margin-bottom: 16px;
  }
  .dialog-form__button {
    font-size: 14px;
    padding: 16px 0;
    margin-bottom: 19px;
  }
  .dialog-form__text {
    font-size: 12px;
  }
  .dialog-form__phone {
    font-size: 21px;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 277px;
  }
  .navbar__button {
    padding: 14px 26px;
    border-radius: 5px;
  }
  .call {
    padding: 49px 0px 51px 0;
  }
  .call__title {
    font-size: 18px;
    line-height: 22px;
  }
  .call__text {
    font-size: 14px;
    margin: 17px -2px 28px 0;
  }
  .call__button {
    font-size: 14px;
    line-height: 18px;
    padding: 16px 38px 18px 38px;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
    letter-spacing: -0.2px;
  }
  .call-desc {
    margin-left: 6px;
    margin-top: -5px;
  }
  .call-desc span:last-child {
    margin-top: 7px;
  }
  .call-desc span:last-child strong {
    display: inline-block;
  }
  .form-call input {
    padding: 18px 0 19px 23px;
  }
  .dialog-form {
    width: 277px;
  }
  .dialog-form__title {
    font-size: 13px;
    line-height: 24px;
  }
  .dialog-form__subtitle {
    font-size: 11px;
    line-height: 16px;
  }
  .dialog-form__phone {
    font-size: 18px;
  }
  .portfolio {
    padding: 42px 0 60px 0;
  }
  .portfolio__title {
    font-size: 18px;
    line-height: 21.6px;
    margin-bottom: 40px;
    letter-spacing: -1px;
  }
  .slider__img {
    width: 246px;
  }
  .arrows {
    margin-top: 46px;
  }
  .mobail_inline {
    display: inline;
  }
  .price {
    padding: 49px 0;
    text-align: center;
  }
  .price__title {
    margin-bottom: 8px;
  }
  .price__subtitle {
    margin-bottom: 18px;
  }
  .card {
    max-width: 272px;
  }
  .card__text {
    padding: 11px 0 34px 0;
  }
  .card__title {
    margin: 0px 0 -3px 4px;
    letter-spacing: -0.9px;
    font-size: 14px;
  }
  .card__link {
    letter-spacing: -0.9px;
  }
  .card__link:after {
    width: 99%;
    left: 1px;
  }
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 46px;
  }
  .section-title {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -1px;
  }
  .section-subtitle {
    font-size: 14px;
    letter-spacing: 0.82px;
  }
}
/*# sourceMappingURL=style.css.map */