@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: local("../fonts/MuseoSansCyrl/MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: local("../fonts/MuseoSansCyrl/MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Cyrl 300';
  font-weight: 300;
  color: #333333;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .navbar-contacts {
    display: none;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 410px;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 277px;
  }
}

.button {
  background-color: #ffd200;
  border: none;
  padding: 17px 30px 18px 30px;
  border-radius: 10px;
  font-size: 13px;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  color: #333333;
}

@media (max-width: 420px) {
  .button {
    padding: 14px 26px;
    border-radius: 5px;
  }
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
}

.navbar-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.navbar__adress {
  font-size: 13px;
  margin-bottom: 6px;
}

.navbar__phone {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  color: #333333;
}

.navbar__button {
  margin-left: 30px;
  margin-top: -2px;
}

@media (max-width: 768px) {
  .navbar-contacts {
    display: none;
  }
  .navbar__logo {
    width: 91px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar__button {
    font-size: 10px;
    padding: 15px 26px;
    margin-left: 0;
  }
}

.hero {
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-text__title {
  color: #333333;
  font-size: 41px;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  line-height: 55px;
  margin-left: -3px;
  margin-bottom: 16px;
}

.hero-text__subtitle {
  font-size: 20px;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  line-height: 65px;
}

.hero-list {
  list-style-type: none;
  padding: 0;
  margin-top: 22px;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.hero-list__item-pp {
  margin-top: 22px;
}

.hero-list__text {
  font-size: 14px;
  line-height: 24px;
  max-width: 261px;
  margin-left: 30px;
  margin-top: -1px;
}

.hero-img {
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

.hero-img img {
  margin-top: -2px;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 992px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 420px) {
  .hero-block {
    padding-top: 40px;
  }
  .hero-text__title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 11px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .hero-list {
    margin-top: 0px;
  }
  .hero-list__img {
    width: 40px;
    height: 40px;
  }
  .hero-list__text {
    font-size: 12px;
    line-height: 16px;
    margin-left: 15px;
    max-width: 210px;
  }
  .hero-list__item {
    margin-top: 22px;
  }
  .hero-img {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */